In [2]:
import yfinance as yf
print(yf.__version__)

1.1.0

In [3]:
df1 = yf.download("AAPL", start = "2025-12-01", end = "2026-01-01")

# Testing yf api grab of apple from last month to the beginning of this month
print(df1.columns)

[*********************100%***********************]  1 of 1 completed

MultiIndex([( 'Close', 'AAPL'),
            (  'High', 'AAPL'),
            (   'Low', 'AAPL'),
            (  'Open', 'AAPL'),
            ('Volume', 'AAPL')],
           names=['Price', 'Ticker'])

In [4]:
df2 = yf.download(["AAPL", "MSFT"], start = "2025-12-01", end = "2026-01-01")

print(df2.columns)

[*********************100%***********************]  2 of 2 completed

MultiIndex([( 'Close', 'AAPL'),
            ( 'Close', 'MSFT'),
            (  'High', 'AAPL'),
            (  'High', 'MSFT'),
            (   'Low', 'AAPL'),
            (   'Low', 'MSFT'),
            (  'Open', 'AAPL'),
            (  'Open', 'MSFT'),
            ('Volume', 'AAPL'),
            ('Volume', 'MSFT')],
           names=['Price', 'Ticker'])

In [5]:
df2.head()

Price            Close                    High                     Low  \
Ticker            AAPL        MSFT        AAPL        MSFT        AAPL
Date
2025-12-01  283.100006  486.739990  283.420013  489.859985  276.140015
2025-12-02  286.190002  490.000000  287.399994  493.500000  282.630005
2025-12-03  284.149994  477.730011  288.619995  484.239990  283.299988
2025-12-04  280.700012  480.839996  284.730011  481.320007  278.589996
2025-12-05  278.779999  483.160004  281.140015  483.399994  278.049988

Price                         Open                Volume
Ticker            MSFT        AAPL        MSFT      AAPL      MSFT
Date
2025-12-01  484.649994  278.010010  488.440002  46587700  23964000
2025-12-02  486.320007  283.000000  486.720001  53669500  19562700
2025-12-03  475.200012  286.200012  476.320007  43538700  34615100
2025-12-04  476.489990  284.100006  479.760010  43989100  22318200
2025-12-05  478.880005  280.540009  482.519989  47265800  22608700

Not a good format, need to have dates grouped per ticker

In [6]:
import pandas as pd
is_multi = isinstance(df2.columns, pd.MultiIndex)
is_multi

True

Tells us columns are in fact multi index

In [7]:
# Create indexing based on ticker while leaving price as a column name
long_table = df2.stack(level = "Ticker")

print(long_table.head())
print(long_table.columns)
print(long_table.index.names)

Price                   Close        High         Low        Open    Volume
Date       Ticker
2025-12-01 AAPL    283.100006  283.420013  276.140015  278.010010  46587700
           MSFT    486.739990  489.859985  484.649994  488.440002  23964000
2025-12-02 AAPL    286.190002  287.399994  282.630005  283.000000  53669500
           MSFT    490.000000  493.500000  486.320007  486.720001  19562700
2025-12-03 AAPL    284.149994  288.619995  283.299988  286.200012  43538700
Index(['Close', 'High', 'Low', 'Open', 'Volume'], dtype='str', name='Price')
['Date', 'Ticker']

In [8]:
long = long_table.reset_index()
long

Price,Date,Ticker,Close,High,Low,Open,Volume
0,2025-12-01,AAPL,283.100006,283.420013,276.140015,278.010010,46587700
1,2025-12-01,MSFT,486.739990,489.859985,484.649994,488.440002,23964000
2,2025-12-02,AAPL,286.190002,287.399994,282.630005,283.000000,53669500
3,2025-12-02,MSFT,490.000000,493.500000,486.320007,486.720001,19562700
4,2025-12-03,AAPL,284.149994,288.619995,283.299988,286.200012,43538700
5,2025-12-03,MSFT,477.730011,484.239990,475.200012,476.320007,34615100
6,2025-12-04,AAPL,280.700012,284.730011,278.589996,284.100006,43989100
7,2025-12-04,MSFT,480.839996,481.320007,476.489990,479.760010,22318200
8,2025-12-05,AAPL,278.779999,281.140015,278.049988,280.540009,47265800
9,2025-12-05,MSFT,483.160004,483.399994,478.880005,482.519989,22608700
10,2025-12-08,AAPL,277.890015,279.670013,276.149994,278.130005,38211800
11,2025-12-08,MSFT,491.019989,492.299988,484.380005,484.890015,21965900
12,2025-12-09,AAPL,277.179993,280.029999,276.920013,278.160004,32193300
13,2025-12-09,MSFT,492.019989,492.119995,488.500000,489.100006,14696100
14,2025-12-10,AAPL,278.779999,279.750000,276.440002,277.750000,33038300
15,2025-12-10,MSFT,478.559998,484.250000,475.079987,484.029999,35756200
16,2025-12-11,AAPL,278.029999,279.589996,273.809998,279.100006,33248000
17,2025-12-11,MSFT,483.470001,486.029999,475.859985,476.630005,24669200
18,2025-12-12,AAPL,278.279999,279.220001,276.820007,277.899994,39532900
19,2025-12-12,MSFT,478.529999,482.450012,476.339996,479.820007,21248100
20,2025-12-15,AAPL,274.109985,280.149994,272.839996,280.149994,50409100
21,2025-12-15,MSFT,474.820007,480.720001,472.519989,480.100006,23727700
22,2025-12-16,AAPL,274.609985,275.500000,271.790009,272.820007,37648600
23,2025-12-16,MSFT,476.390015,477.890015,470.880005,471.910004,20705600
24,2025-12-17,AAPL,271.839996,276.160004,271.640015,275.010010,50138700
25,2025-12-17,MSFT,476.119995,480.000000,475.000000,476.910004,24527200
26,2025-12-18,AAPL,272.190002,273.630005,266.950012,273.609985,51630700
27,2025-12-18,MSFT,483.980011,489.600006,477.890015,478.190002,28573500
28,2025-12-19,AAPL,273.670013,274.600006,269.899994,272.149994,144632000
29,2025-12-19,MSFT,485.920013,487.850006,482.489990,487.359985,70836100
30,2025-12-22,AAPL,270.970001,273.880005,270.510010,272.859985,36571800
31,2025-12-22,MSFT,484.920013,488.730011,482.690002,486.119995,16963000
32,2025-12-23,AAPL,272.359985,272.500000,269.559998,270.839996,29642000
33,2025-12-23,MSFT,486.850006,487.829987,484.739990,484.980011,14683600
34,2025-12-24,AAPL,273.809998,275.429993,272.200012,272.339996,17910600
35,2025-12-24,MSFT,488.019989,489.160004,484.829987,485.679993,5855900
36,2025-12-26,AAPL,273.399994,275.369995,272.859985,274.160004,21521800
37,2025-12-26,MSFT,487.709991,488.119995,485.959991,486.709991,8842200
38,2025-12-29,AAPL,273.760010,274.359985,272.350006,272.690002,23715200
39,2025-12-29,MSFT,487.100006,488.350006,484.179993,484.859985,10893400
40,2025-12-30,AAPL,273.079987,274.079987,272.279999,272.809998,22139600
41,2025-12-30,MSFT,487.480011,489.679993,485.500000,485.929993,13944500
42,2025-12-31,AAPL,271.859985,273.679993,271.750000,273.059998,27293600
43,2025-12-31,MSFT,483.619995,488.140015,483.299988,487.839996,15601600

In [9]:
# Format the dates properly, first check format
print(long["Date"].dtype)

datetime64[s]

In [10]:
# Because im ocd lets still format it
long["Date"] = pd.to_datetime(long["Date"])
long = long.sort_values(["Ticker", "Date"]).reset_index(drop = True)
long

Price,Date,Ticker,Close,High,Low,Open,Volume
0,2025-12-01,AAPL,283.100006,283.420013,276.140015,278.010010,46587700
1,2025-12-02,AAPL,286.190002,287.399994,282.630005,283.000000,53669500
2,2025-12-03,AAPL,284.149994,288.619995,283.299988,286.200012,43538700
3,2025-12-04,AAPL,280.700012,284.730011,278.589996,284.100006,43989100
4,2025-12-05,AAPL,278.779999,281.140015,278.049988,280.540009,47265800
5,2025-12-08,AAPL,277.890015,279.670013,276.149994,278.130005,38211800
6,2025-12-09,AAPL,277.179993,280.029999,276.920013,278.160004,32193300
7,2025-12-10,AAPL,278.779999,279.750000,276.440002,277.750000,33038300
8,2025-12-11,AAPL,278.029999,279.589996,273.809998,279.100006,33248000
9,2025-12-12,AAPL,278.279999,279.220001,276.820007,277.899994,39532900
10,2025-12-15,AAPL,274.109985,280.149994,272.839996,280.149994,50409100
11,2025-12-16,AAPL,274.609985,275.500000,271.790009,272.820007,37648600
12,2025-12-17,AAPL,271.839996,276.160004,271.640015,275.010010,50138700
13,2025-12-18,AAPL,272.190002,273.630005,266.950012,273.609985,51630700
14,2025-12-19,AAPL,273.670013,274.600006,269.899994,272.149994,144632000
15,2025-12-22,AAPL,270.970001,273.880005,270.510010,272.859985,36571800
16,2025-12-23,AAPL,272.359985,272.500000,269.559998,270.839996,29642000
17,2025-12-24,AAPL,273.809998,275.429993,272.200012,272.339996,17910600
18,2025-12-26,AAPL,273.399994,275.369995,272.859985,274.160004,21521800
19,2025-12-29,AAPL,273.760010,274.359985,272.350006,272.690002,23715200
20,2025-12-30,AAPL,273.079987,274.079987,272.279999,272.809998,22139600
21,2025-12-31,AAPL,271.859985,273.679993,271.750000,273.059998,27293600
22,2025-12-01,MSFT,486.739990,489.859985,484.649994,488.440002,23964000
23,2025-12-02,MSFT,490.000000,493.500000,486.320007,486.720001,19562700
24,2025-12-03,MSFT,477.730011,484.239990,475.200012,476.320007,34615100
25,2025-12-04,MSFT,480.839996,481.320007,476.489990,479.760010,22318200
26,2025-12-05,MSFT,483.160004,483.399994,478.880005,482.519989,22608700
27,2025-12-08,MSFT,491.019989,492.299988,484.380005,484.890015,21965900
28,2025-12-09,MSFT,492.019989,492.119995,488.500000,489.100006,14696100
29,2025-12-10,MSFT,478.559998,484.250000,475.079987,484.029999,35756200
30,2025-12-11,MSFT,483.470001,486.029999,475.859985,476.630005,24669200
31,2025-12-12,MSFT,478.529999,482.450012,476.339996,479.820007,21248100
32,2025-12-15,MSFT,474.820007,480.720001,472.519989,480.100006,23727700
33,2025-12-16,MSFT,476.390015,477.890015,470.880005,471.910004,20705600
34,2025-12-17,MSFT,476.119995,480.000000,475.000000,476.910004,24527200
35,2025-12-18,MSFT,483.980011,489.600006,477.890015,478.190002,28573500
36,2025-12-19,MSFT,485.920013,487.850006,482.489990,487.359985,70836100
37,2025-12-22,MSFT,484.920013,488.730011,482.690002,486.119995,16963000
38,2025-12-23,MSFT,486.850006,487.829987,484.739990,484.980011,14683600
39,2025-12-24,MSFT,488.019989,489.160004,484.829987,485.679993,5855900
40,2025-12-26,MSFT,487.709991,488.119995,485.959991,486.709991,8842200
41,2025-12-29,MSFT,487.100006,488.350006,484.179993,484.859985,10893400
42,2025-12-30,MSFT,487.480011,489.679993,485.500000,485.929993,13944500
43,2025-12-31,MSFT,483.619995,488.140015,483.299988,487.839996,15601600

Data is clean, formatted and sorted.

In [49]:
# CONFIRM TRANSFORM WORKS

long = df2.stack(level = "Ticker").reset_index()
long = long.rename(columns = {
    "Date":"date",
    "Ticker": "ticker",
    "Open" : "open",
    "High" : "high",
    "Low" : "low",
    "Close" : "close",
    "Volume" : "volume",
})
long = long.sort_values(["ticker", "date"]).reset_index(drop = True)

long.columns.name = None

long

,date,ticker,close,high,low,open,volume
0,2025-12-01,AAPL,283.100006,283.420013,276.140015,278.010010,46587700
1,2025-12-02,AAPL,286.190002,287.399994,282.630005,283.000000,53669500
2,2025-12-03,AAPL,284.149994,288.619995,283.299988,286.200012,43538700
3,2025-12-04,AAPL,280.700012,284.730011,278.589996,284.100006,43989100
4,2025-12-05,AAPL,278.779999,281.140015,278.049988,280.540009,47265800
5,2025-12-08,AAPL,277.890015,279.670013,276.149994,278.130005,38211800
6,2025-12-09,AAPL,277.179993,280.029999,276.920013,278.160004,32193300
7,2025-12-10,AAPL,278.779999,279.750000,276.440002,277.750000,33038300
8,2025-12-11,AAPL,278.029999,279.589996,273.809998,279.100006,33248000
9,2025-12-12,AAPL,278.279999,279.220001,276.820007,277.899994,39532900
10,2025-12-15,AAPL,274.109985,280.149994,272.839996,280.149994,50409100
11,2025-12-16,AAPL,274.609985,275.500000,271.790009,272.820007,37648600
12,2025-12-17,AAPL,271.839996,276.160004,271.640015,275.010010,50138700
13,2025-12-18,AAPL,272.190002,273.630005,266.950012,273.609985,51630700
14,2025-12-19,AAPL,273.670013,274.600006,269.899994,272.149994,144632000
15,2025-12-22,AAPL,270.970001,273.880005,270.510010,272.859985,36571800
16,2025-12-23,AAPL,272.359985,272.500000,269.559998,270.839996,29642000
17,2025-12-24,AAPL,273.809998,275.429993,272.200012,272.339996,17910600
18,2025-12-26,AAPL,273.399994,275.369995,272.859985,274.160004,21521800
19,2025-12-29,AAPL,273.760010,274.359985,272.350006,272.690002,23715200
20,2025-12-30,AAPL,273.079987,274.079987,272.279999,272.809998,22139600
21,2025-12-31,AAPL,271.859985,273.679993,271.750000,273.059998,27293600
22,2025-12-01,MSFT,486.739990,489.859985,484.649994,488.440002,23964000
23,2025-12-02,MSFT,490.000000,493.500000,486.320007,486.720001,19562700
24,2025-12-03,MSFT,477.730011,484.239990,475.200012,476.320007,34615100
25,2025-12-04,MSFT,480.839996,481.320007,476.489990,479.760010,22318200
26,2025-12-05,MSFT,483.160004,483.399994,478.880005,482.519989,22608700
27,2025-12-08,MSFT,491.019989,492.299988,484.380005,484.890015,21965900
28,2025-12-09,MSFT,492.019989,492.119995,488.500000,489.100006,14696100
29,2025-12-10,MSFT,478.559998,484.250000,475.079987,484.029999,35756200
30,2025-12-11,MSFT,483.470001,486.029999,475.859985,476.630005,24669200
31,2025-12-12,MSFT,478.529999,482.450012,476.339996,479.820007,21248100
32,2025-12-15,MSFT,474.820007,480.720001,472.519989,480.100006,23727700
33,2025-12-16,MSFT,476.390015,477.890015,470.880005,471.910004,20705600
34,2025-12-17,MSFT,476.119995,480.000000,475.000000,476.910004,24527200
35,2025-12-18,MSFT,483.980011,489.600006,477.890015,478.190002,28573500
36,2025-12-19,MSFT,485.920013,487.850006,482.489990,487.359985,70836100
37,2025-12-22,MSFT,484.920013,488.730011,482.690002,486.119995,16963000
38,2025-12-23,MSFT,486.850006,487.829987,484.739990,484.980011,14683600
39,2025-12-24,MSFT,488.019989,489.160004,484.829987,485.679993,5855900
40,2025-12-26,MSFT,487.709991,488.119995,485.959991,486.709991,8842200
41,2025-12-29,MSFT,487.100006,488.350006,484.179993,484.859985,10893400
42,2025-12-30,MSFT,487.480011,489.679993,485.500000,485.929993,13944500
43,2025-12-31,MSFT,483.619995,488.140015,483.299988,487.839996,15601600

In [27]:
df1 = yf.download("AAPL", start="2025-12-01", end="2025-12-10")
print(df1.columns)

[*********************100%***********************]  1 of 1 completed

MultiIndex([( 'Close', 'AAPL'),
            (  'High', 'AAPL'),
            (   'Low', 'AAPL'),
            (  'Open', 'AAPL'),
            ('Volume', 'AAPL')],
           names=['Price', 'Ticker'])

In [28]:
df1.head()

Price            Close        High         Low        Open    Volume
Ticker            AAPL        AAPL        AAPL        AAPL      AAPL
Date
2025-12-01  283.100006  283.420013  276.140015  278.010010  46587700
2025-12-02  286.190002  287.399994  282.630005  283.000000  53669500
2025-12-03  284.149994  288.619995  283.299988  286.200012  43538700
2025-12-04  280.700012  284.730011  278.589996  284.100006  43989100
2025-12-05  278.779999  281.140015  278.049988  280.540009  47265800

In [40]:
df1 = df1.rename(columns={
    "Price" : "price",
    "Date" : "date",
    "Close" : "close",
    "High" : "high",
    "Low" : "low",
    "Open" : "open",
    "Adj Close" : "adj_close",
    "Volume" : "volume"
})

df1["ticker"] = "AAPL"

cols = ['date', 'ticker', 'open','high', 'low', 'close', 'volume']

if "adj_close" in df1.columns:
    cols.insert(6, "adj_close")

df1.columns.name = None

df1 = df1.reset_index()

df1

Price,Date,close,high,low,open,volume,ticker
Ticker,,AAPL,AAPL,AAPL,AAPL,AAPL,
0,2025-12-01,283.100006,283.420013,276.140015,278.010010,46587700,AAPL
1,2025-12-02,286.190002,287.399994,282.630005,283.000000,53669500,AAPL
2,2025-12-03,284.149994,288.619995,283.299988,286.200012,43538700,AAPL
3,2025-12-04,280.700012,284.730011,278.589996,284.100006,43989100,AAPL
4,2025-12-05,278.779999,281.140015,278.049988,280.540009,47265800,AAPL
5,2025-12-08,277.890015,279.670013,276.149994,278.130005,38211800,AAPL
6,2025-12-09,277.179993,280.029999,276.920013,278.160004,32193300,AAPL

In [46]:
if hasattr(df1.columns, 'levels'):
    df1.columns = df1.columns.get_level_values(0)


df1.columns.name = None

df1 = df1.rename(columns = {"Date": "date"})

df1

        date       close        high         low        open    volume ticker
0 2025-12-01  283.100006  283.420013  276.140015  278.010010  46587700   AAPL
1 2025-12-02  286.190002  287.399994  282.630005  283.000000  53669500   AAPL
2 2025-12-03  284.149994  288.619995  283.299988  286.200012  43538700   AAPL
3 2025-12-04  280.700012  284.730011  278.589996  284.100006  43989100   AAPL
4 2025-12-05  278.779999  281.140015  278.049988  280.540009  47265800   AAPL
5 2025-12-08  277.890015  279.670013  276.149994  278.130005  38211800   AAPL
6 2025-12-09  277.179993  280.029999  276.920013  278.160004  32193300   AAPL

In [60]:
import sys,os 
os.chdir("..")
sys.path.insert(0, os.getcwd())

In [63]:

from src.ingestion.prices import normalize_prices

single_df = yf.download("AAPL", start = "2025-01-01", end = "2025-02-01")

multi_df = yf.download(["AAPL", "MSFT"], start = "2025-01-01", end = "2025-02-01")

tidy_single = normalize_prices(single_df, "AAPL")

tidy_single

[*********************100%***********************]  1 of 1 completed

[*********************100%***********************]  2 of 2 completed

,date,ticker,open,high,low,close,volume
0,2025-01-02,AAPL,247.809205,247.978453,240.731232,242.752090,55740700
1,2025-01-03,AAPL,242.264297,243.080598,240.800915,242.264297,40244100
2,2025-01-06,AAPL,243.210016,246.216423,242.105013,243.896912,45045600
3,2025-01-07,AAPL,241.885999,244.444435,240.263348,241.119476,40856000
4,2025-01-08,AAPL,240.830782,242.612732,238.969207,241.607269,37628900
5,2025-01-10,AAPL,238.929361,239.078694,231.950928,235.783600,61710900
6,2025-01-13,AAPL,232.478557,233.613424,228.685713,233.344635,49630700
7,2025-01-14,AAPL,233.693073,235.056900,231.423340,232.229691,39435300
8,2025-01-15,AAPL,233.583558,237.884115,233.374497,236.799011,39832000
9,2025-01-16,AAPL,236.281370,236.938386,227.003324,227.232285,71759100
10,2025-01-17,AAPL,231.074899,231.244131,227.451288,228.944534,68488300
11,2025-01-21,AAPL,222.991451,223.409558,218.392257,221.637573,98070400
12,2025-01-22,AAPL,218.800401,223.110907,218.800401,222.822220,64126500
13,2025-01-23,AAPL,223.728154,226.007837,221.299138,222.653015,60234800
14,2025-01-24,AAPL,223.767942,224.614121,220.413120,221.776947,54697900
15,2025-01-27,AAPL,223.011386,231.104771,222.971558,228.825089,94863400
16,2025-01-28,AAPL,229.810630,239.108574,229.770802,237.187256,75707600
17,2025-01-29,AAPL,233.065875,238.780036,232.956370,238.282288,45486100
18,2025-01-30,AAPL,237.595403,239.705853,236.141985,236.520264,55658300
19,2025-01-31,AAPL,246.077044,246.077044,232.388952,234.937424,100959800

In [64]:
tidy_multi = normalize_prices(multi_df, ["AAPL", "MSFT"])

tidy_multi

,date,ticker,open,high,low,close,volume
0,2025-01-02,AAPL,247.809205,247.978453,240.731232,242.752090,55740700
1,2025-01-03,AAPL,242.264297,243.080598,240.800915,242.264297,40244100
2,2025-01-06,AAPL,243.210016,246.216423,242.105013,243.896912,45045600
3,2025-01-07,AAPL,241.885999,244.444435,240.263348,241.119476,40856000
4,2025-01-08,AAPL,240.830782,242.612732,238.969207,241.607269,37628900
5,2025-01-10,AAPL,238.929361,239.078694,231.950928,235.783600,61710900
6,2025-01-13,AAPL,232.478557,233.613424,228.685713,233.344635,49630700
7,2025-01-14,AAPL,233.693073,235.056900,231.423340,232.229691,39435300
8,2025-01-15,AAPL,233.583558,237.884115,233.374497,236.799011,39832000
9,2025-01-16,AAPL,236.281370,236.938386,227.003324,227.232285,71759100
10,2025-01-17,AAPL,231.074899,231.244131,227.451288,228.944534,68488300
11,2025-01-21,AAPL,222.991451,223.409558,218.392257,221.637573,98070400
12,2025-01-22,AAPL,218.800401,223.110907,218.800401,222.822220,64126500
13,2025-01-23,AAPL,223.728154,226.007837,221.299138,222.653015,60234800
14,2025-01-24,AAPL,223.767942,224.614121,220.413120,221.776947,54697900
15,2025-01-27,AAPL,223.011386,231.104771,222.971558,228.825089,94863400
16,2025-01-28,AAPL,229.810630,239.108574,229.770802,237.187256,75707600
17,2025-01-29,AAPL,233.065875,238.780036,232.956370,238.282288,45486100
18,2025-01-30,AAPL,237.595403,239.705853,236.141985,236.520264,55658300
19,2025-01-31,AAPL,246.077044,246.077044,232.388952,234.937424,100959800
20,2025-01-02,MSFT,422.413951,422.950005,411.812165,415.514832,16896500
21,2025-01-03,MSFT,417.996512,420.924922,416.467811,420.249908,16662900
22,2025-01-06,MSFT,424.865845,431.139572,422.364309,424.716949,20573600
23,2025-01-07,MSFT,425.858524,427.496435,417.718559,419.277069,18139100
24,2025-01-08,MSFT,420.359129,423.843436,418.453206,421.451080,15054600
25,2025-01-10,MSFT,421.520510,421.599910,411.980866,415.882111,20201100
26,2025-01-13,MSFT,412.199277,415.435414,409.270897,414.135010,17604800
27,2025-01-14,MSFT,414.750473,416.666333,407.712395,412.626160,16935900
28,2025-01-15,MSFT,416.060817,425.014755,415.207099,423.188232,19637800
29,2025-01-16,MSFT,425.560711,426.344904,421.282275,421.470856,15300000
30,2025-01-17,MSFT,430.911281,431.298440,425.034648,425.888336,26197500
31,2025-01-21,MSFT,427.049746,427.744602,422.483425,425.362183,26085700
32,2025-01-22,MSFT,434.355871,443.994759,432.807297,442.932617,27803800
33,2025-01-23,MSFT,438.763311,443.478528,438.266973,443.438812,18389300
34,2025-01-24,MSFT,441.900178,443.379258,438.167703,440.808228,15549500
35,2025-01-27,MSFT,420.905075,432.013136,420.398800,431.377808,35647800
36,2025-01-28,MSFT,431.417523,445.096614,428.221102,443.925262,23491700
37,2025-01-29,MSFT,443.419000,443.607612,437.175052,439.090912,23581400
38,2025-01-30,MSFT,415.703430,419.763476,410.134525,411.951111,54586300
39,2025-01-31,MSFT,415.911938,417.609408,411.871734,412.020630,34161900